@page
@model IndexModel
@{
    ViewData["Title"] = "I Love you Arya";
}

<div class="text-center">
    <h1 class="display-4">I Love You Arya.</h1>
    <span style="font-size:25px;"> - Kunal (yours papudiya)</span>
</div>
